*,
html,
body {
  user-select: none;
}

.game {
  font-family: "Londrina Solid", cursive;
  color: #ffe3de;
  height: 100%;
}

h1 {
  text-align: center;
  color: #ffe3de;
  padding-top: 1em;
}

#next-player-text {
  text-align: center;
  color: #ffe3de;
  padding: 0.3em;
  padding: 1.5em;
}

.board {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: #03506f 0px 0px 29px 0px;
  font-size: 3rem;
}

.field {
  color: #03506f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.8em;
  font-weight: bold;
}

.field:hover {
  background: #093d5257;
  cursor: pointer;
}

.disable {
  pointer-events: none;
}

.points {
  color: #ffe3de;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 90%;
  margin: 3% auto;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: #03506f 0px 0px 29px 0px;
}

.winner-box {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.95);
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  padding-top: 15em;
}

#new-game-btn {
  background: #542a33;
  color: #ffe3de;
  text-transform: uppercase;
  padding: 0.5em;
  font-size: 1.2em;
  width: 300px;
  margin: 0 auto;
  display: none;
  &:hover {
    color: #ffe3de;
    box-shadow: #03506f 0px 0px 29px 0px;
  }
}

.winnerPlayerText {
  display: none;
}

#next-player-text {
  padding: 1.5rem;
}

.tic-tac-toe-holder {
  p {
    font-family: "Galindo", cursive;
  }
}

@media only screen and (min-width: 765px) {
  .board {
    height: 600px;
    width: 80%;
    font-size: 4.5rem;
  }
  .points {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .board {
    height: 650px;
    width: 100%;
    font-size: 6rem;
  }
  .points {
    flex-direction: column;
    width: 100%;
    background: none;
    box-shadow: none;
    margin-top: 3.3rem;
    height: 500px;
  }
  .game-holder {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 5fr 2fr;
  }
  .player-box {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: #03506f 0px 0px 29px 0px;
    padding: 2rem;
    font-size: 1.1rem;
  }
}

/*------------------------ Live chat ------------------------*/
body {
  background: #eeeeee41;
  font-family: "Roboto", sans-serif;
}

.chat-wrapper::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.chat-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.chat-wrapper::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.chat-wrapper ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-btn .close {
  display: none;
}

.chat-btn i {
  transition: all 0.9s ease;
}

#check:checked ~ .chat-btn i {
  display: block;
  pointer-events: auto;
  transform: rotate(180deg);
}

#check:checked ~ .chat-btn .comment {
  display: none;
}

.chat-btn i {
  font-size: 22px;
  color: #fff !important;
}

.chat-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #03506f;
  color: #fff;
  font-size: 22px;
  border: none;
  position: fixed;
  right: 10px;
  bottom: 0px;
  cursor: pointer;
  &:hover {
    box-shadow: #03506f 0px 0px 29px 0px;
  }
}

.chat-wrapper {
  position: fixed;
  /*  right: 20px;
  bottom: 150px; */
  bottom: 48px;
  right: 70px;
  width: 260px;
  background-color: rgb(245, 245, 245);
  opacity: 0;
  transition: all 0.4s;
  overflow: auto;
  min-height: 400px;
  max-height: 400px;
  display: none;
}

.title {
  position: fixed;
  /* right: 20px;
  bottom: 550px; */
  right: 70px;
  bottom: 445px;
  width: 260px;
  background-color: black;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.4s;
  max-height: 400px;
  display: none;
  font-family: "Londrina Solid", cursive;
  text-transform: uppercase;
}

#check:checked ~ .chat-wrapper {
  opacity: 1;
  display: block;
}

#check:checked ~ .title {
  opacity: 1;
  display: block;
}

.header {
  padding: 13px;
  background-color: blue;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 10px;
  color: #fff;
}

.chat-form {
  padding: 15px;
}

.chat-form input,
textarea,
button {
  margin-bottom: 10px;
}

.chat-form textarea {
  resize: none;
}

.form-control:focus,
.btn:focus {
  box-shadow: none;
}

.btn,
.btn:focus,
.btn:hover {
  background-color: blue;
  border: blue;
}

#check {
  display: none !important;
  text-align: center;
}

/* a------------------- */
.card {
  width: 260px;
  border: none;
  border-radius: 15px;
}

.adiv {
  background: black;
  border-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 12px;
  height: 46px;
}

.chat {
  border: none;
  background: #e2f8ff;
  font-size: 10px;
  border-radius: 20px;
}

.bg-white {
  border: 1px solid #e7e7e9;
  font-size: 10px;
}

.icon {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-align: center;
  padding: 0.2rem;
}

.dot {
  font-weight: bold;
}

.form-control {
  border-radius: 12px;
  border: 1px solid #f0f0f0;
  font-size: 8px;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  font-size: 8px;
  color: #c4c4c4;
}

.chat-input-holder {
  position: fixed;
  /* right: 20px;
  bottom: 102px; */
  bottom: 0;
  right: 70px;
  width: 260px;
  background-color: rgb(243, 243, 243);
  opacity: 0;
  transition: all 0.4s;
  overflow: auto;
  max-height: 400px;
  display: none;
}

.chat-input-holder input {
  width: 300px;
}

#check:checked ~ .chat-input-holder {
  opacity: 1;
  display: block;
}

/* -------------------------------- */
.msg {
  background-color: #fff;
  font-size: 11px;
  padding: 5px;
  font-weight: 500;
  color: #3e3c3c;
}

.between {
  font-size: 8px;
  font-weight: 500;
  color: #a09e9e;
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control {
  font-size: 12px;
  font-weight: 400;
  width: 230px;
  height: 30px;
  border: none;
}

.form-control:focus {
  box-shadow: none !important;
}

.icon1 {
  color: #03506f !important;
  font-size: 22px !important;
  cursor: pointer;
}

.icon2 {
  color: #03506f !important;
  font-size: 22px !important;
  position: relative;
  left: 8px;
  padding: 0px;
  cursor: pointer;
}

.icondiv {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 2px;
  position: relative;
  bottom: 1px;
}

#chatInput {
  font-size: 1rem;
}

#exclamation {
  position: fixed;
  right: 16px;
  bottom: 64px;
  font-size: 1.3rem;
  color: red;
}
